<div class="container">
    <h2 class="text-center">Booking Form</h2>
    <form>
        <div class="row">
            
            <div class="col-md-6">
                <div class="form-group">
                    <label for="UserId">UserId:</label>
                    <input type="text"[(ngModel)]="booking.UserId" class="form-control" name="UserId" placeholder="Enter UserId" required>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="VendorServiceId">VendorServiceId:</label>
                        <input type="text"[(ngModel)]="booking.VendorServiceId" class="form-control" name="VendorServiceId" placeholder="Enter VendorServiceId" required>
                    </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="BookingDate">BookingDate:</label>
                    <input type="text"[(ngModel)]="booking.BookingDate" class="form-control" name="BookingDate" placeholder="Enter BookingDate" required>
                </div>

                <div class="form-group">
                    <label for="Status">Status:</label>
                    <input type="text"[(ngModel)]="booking.Status" class="form-control" name="Status" placeholder="Enter Status" required>
                </div>
            </div>
          
           
        </div>

        
     
       
        

        

        <button  type="submit" (click)="OnSubmit()"class="btn btn-primary">Submit</button>
    
</div>


