<div class="container">
    <h2 class="text-center">Feedback Form</h2>
    <form>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="UserId">UserId:</label>
                    <input type="text"[(ngModel)]="feedback.UserId" class="form-control" name="UserId" placeholder="Enter UserId" required>
                </div>
             </div>
             <div class="form-group">
                <label for="VendorId">VendorId:</label>
                <input type="text"[(ngModel)]="feedback.VendorId" class="form-control" name="VendorId" placeholder="Enter VendorId" required>
            </div>
            <div class="form-group">
                <label for="Rating">Rating:</label>
                <input type="text"[(ngModel)]="feedback.Rating" class="form-control" name="Rating" placeholder="Enter Rating" required>
            </div> 
            <div class="form-group">
                <label for="FeedbackText">FeedbackText:</label>
                <input type="text"[(ngModel)]="feedback.FeedbackText" class="form-control" name="FeedbackText" placeholder="Enter FeedbackText" required>
            </div>
        </div>
 <button  type="submit" (click)="OnSubmit()"class="btn btn-primary">Submit</button>
    </form>
</div>



