<section>
    <div class="container-fluid">
        <div class="row" style="    justify-content: center;">
         
            <div class="col-lg-5 col-12">
              
    
                  <form class="boxshadoww bottomborder topborder"  style="     padding: 5%;">
                  
                      <!-- 2 column grid layout with text inputs for the first and last names -->
              
                    
                        <!-- Password input -->
                        
                            <input mdbInput type="password" id="form3Example4"[(ngModel)]="newPassword"  name="newPassword" pattern="(?=.[a-z])(?=.[A-Z])(?=.[0-9])(?=.[$@$#!%?&])[A-Za-z\d$@$!%?&].{8,}"  class="form-control" />
                            <label mdbLabel class="form-label" for="form3Example4">Password</label>
                          
                    
                      <!-- Password input -->
                      
                        <input mdbInput type="password" id="form3Example4"[(ngModel)]="confirmPassword"name="confirmPassword"  class="form-control" />
                        <label mdbLabel class="form-label" for="form3Example4">Confirm Password</label>
                      
                
                    
                      <!-- Submit button -->
                      <button mdbRipple type="button" (click)="OnSubmit()" class="btn btn-primary btn-block mb-4">Reset Password</button>
                    
                
                    </form>
    
            </div>
        </div>
    </div>
    </section>
    
    
