<section>
    <div class="container-fluid">
        <div class="row" style="    justify-content: center;">
         
            <div class="col-lg-5 col-10">
              
    
                  <form class="boxshadoww bottomborder topborder"  style="     padding: 5%;">
                  
                      <!-- 2 column grid layout with text inputs for the first and last names -->
              
                    
                      <!-- Email input -->
                      
                        <input mdbInput type="email" id="form3Example3"[(ngModel)]="registration.Email" name="Email" #EmailControl="ngModel" class="form-control" />
                        <label mdbLabel class="form-label" for="form3Example3">Email address</label>
                      
                    
                   
                
                    
                      <!-- Submit button -->
                      <button mdbRipple type="button" (click)="OnSubmit()" class="btn btn-primary btn-block mb-4">Send OTP</button>
                    
                
                    </form>
    
            </div>
        </div>
    </div>
    </section>
    
    
