<div class="row marginlittle">
    <div class="col-md-12 topform">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">UserSocialMedia</h4>
                <p class="card-category">Add New UserSocialMedia Here</p>
            </div>
            <div class="card-body">
                <form #blogForm="ngForm">
                  <div class="row">
                    <div class="col-md-12">
                      <label for="Instagram">Instagram:</label>
                      <input type="text"[(ngModel)]="userSocialMedia.Instagram" class="form-control" name="Instagram" placeholder="Enter Instagram" required>
                      
                  </div>
                  <div class="col-md-12">
                   
                    <label for="Facebook">Facebook:</label>
                    <input type="text"[(ngModel)]="userSocialMedia.Facebook" class="form-control" name="Facebook" placeholder="Enter Facebook" required>
                    
                  </div>
                  
                  <div class="col-md-12">
                   
                    <label for="Twitter">Twitter:</label>
                    <input type="text"[(ngModel)]="userSocialMedia.Twitter" class="form-control" name="Twitter" placeholder="Enter Twitter" required>
                    
                  </div>

                  <div class="col-md-12">
                   
                    <label for="LinkedIn">LinkedIn:</label>
                    <input type="text"[(ngModel)]="userSocialMedia.LinkedIn" class="form-control" name="LinkedIn" placeholder="Enter LinkedIn" required>
                    
                  </div>

                  <div class="col-md-12">
                   
                    <label for="YouTube">YouTube:</label>
                    <input type="text"[(ngModel)]="userSocialMedia.YouTube" class="form-control" name="YouTube" placeholder="Enter YouTube" required>
                    
                  </div>
            
               
                
                  </div>
                  
                  
                
                    <button mat-raised-button type="submit" [disabled]="blogForm.invalid"class="btn btn-danger pull-right"(click)="OnSubmit()">update</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
  </div>
  

