<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Feedback List</h4>
                        <p class="card-category"> View Here All Feedback Table Record</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary" style="background-color: #ea48441c;">
                                    <th>FeedbackId </th>
                                    <th>UserId </th>
                                    <th>VendorId </th>
                                    <th>FeedbackText </th>
                                    <th>Rating </th>
                                    <th>Action </th>
                              
                                </thead>
                                <tbody>
                                    <tr *ngFor="let i of FeedbackList">
                                        <td>{{i.FeedbackId}}</td>
                                        <td>{{i.UserId}}</td>
                                        <td>{{i.VendorId}}</td>
                                        <td>{{i.FeedbackText}}</td>
                                        <td>{{i.Rating}}</td>
 
                                        <!-- <td>{{i.Sectiontwo}}</td> -->
                                        <!-- <td> <img src="{{i.Photo}}" style="height: 80px;width: 80px;"></td>  -->
                                      <td><i class="fa fa-pencil-square iconaction"(click)="Edit(i.FeedbackId)"  aria-hidden="true"></i>
                                             <i class="fa fa-eye iconaction" (click)="View(i.FeedbackId)" aria-hidden="true"></i>
                                              <i class="fa fa-trash iconaction"(click)="Delete(i.FeedbackId)" aria-hidden="true"></i>
                                        </td> 
                                    </tr>    
                                                           
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
   
        </div>
    </div>
  </div>


