<div class="container">
    <h2 class="text-center">Activities Form </h2>
    <form>
        <div class="row">
            
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Title">Title:</label>
                    <input type="text"[(ngModel)]="activities.Title" class="form-control" name="Title" placeholder="Enter Title" required>
                </div>
            </div>
          
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Subtitle">Subtitle:</label>
                    <input type="text" [(ngModel)]="activities.SubTitle" class="form-control" name="Subtitle" placeholder="Enter Subtitle" required>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
       
            <label for="avatar">Upload Image: </label>
            <input type="file" id="avatar"  name="Photo"  [(ngModel)]="activities.Photo"  (change)="fileChangeEvent($event)" #PhotoControl="ngModel"accept="image/png, image/jpeg" required>
            </div>
           
        </div>

        
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Description">Description:</label>
                    <input type="text"[(ngModel)]="activities.Description" class="form-control" name="Description" placeholder="Enter Description" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Amount">Amount:</label>
                    <input type="text" [(ngModel)]="activities.Amount" class="form-control" name="Amount" placeholder="Enter Amount" required>
                </div>
            </div>

        <div class="col-md-6">
        <div class="form-group">
          <label for="Status">Status:</label>
          <input type="text"[(ngModel)]="activities.Status" class="form-control" name="Status" placeholder="Enter Status" required>
      </div>
      </div>
     
     
       
        

        

        <button  type="submit" (click)="OnSubmit()"class="btn btn-primary">Submit</button>
    </form>
</div>




