<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Blog List</h4>
                        <p class="card-category"> View Here All Blog Table Record</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary" style="background-color: #ea48441c;">
                                    <th>BlogId </th>
                                    <th>DestinationId </th>
                                    <th>UserId </th>
                                    <th>Title </th>
                                    <th>SubTitle </th>
                                    <th>Description</th>
                                    <th>Content</th>
                                    <th>Status </th>
                                    <th>Photo </th>
                                    
                                    
                                        
                                   
                              
                                </thead>
                                <tbody>
                                    <tr *ngFor="let i of BlogList">
                                        <td>{{i.BlogId}}</td>
                                        <td>{{i.DestinationId}}</td>
                                        <td>{{i.UserId}}</td>
                                        <td>{{i.Title}}</td>
                                        <td>{{i.SubTitle}}</td>
                                        <td>{{i.Description}}</td>
                                        <td>{{i.Content}}</td>
                                        <td>{{i.Status}}</td>
                                        <td>{{i.Photo}}</td>
                                        
                                        
                                        <!-- <td>{{i.Sectiontwo}}</td> -->
                                        <td> <img src="{{i.Photo}}" style="height: 80px;width: 80px;"></td> 
                                      <td><i class="fa fa-pencil-square iconaction"(click)="Edit(i.Id)"  aria-hidden="true"></i>
                                             <i class="fa fa-eye iconaction" (click)="View(i.Id)" aria-hidden="true"></i>
                                              <i class="fa fa-trash iconaction"(click)="Delete(i.Id)" aria-hidden="true"></i>
                                        </td> 
                                    </tr>    
                                                           
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
   
        </div>
    </div>
  </div>

