<div class="main-container">
  <div class="wrappe">
    <div class="background">
      <span class="administrator">Administrator</span>
      <button class="button">
        <span class="dashboard-text">Dashboard</span></button>
      <span class="users">Users</span>

      <span class="vendors">Vendors</span>
      <span class="payments">Payments</span>
      <div class="logout"></div>

      <span class="sign-out">Sign Out

      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="sig" fill="currentColor"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
        <path fill-rule="evenodd"
          d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
      </svg>
    </span>
    </div>
  </div>



  <div>
    <div class="background-1">
      <span class="dashboard-text-2">Dashboard</span>
    </div>
    <div class="rectangle">
      <span class="total-bookings">Total Bookings</span>
      <div class="flex-row-e">
        <div class="group">
          <span class="online-sales">Online Sales</span>
          <div class="rectangle-copy"></div>
        </div>
        <div class="group-copy">
          <span class="offline-sales">Offline Sales</span>
          <div class="rectangle-copy-3"></div>
        </div>
      </div>
    </div>
    <div class="chart">
      <div class="group-4">
        <div class="vector"></div>
        <div class="group-5">
          <div class="group-6">
            <span class="number-1000">1000</span>
            <div class="vector-7"></div>
          </div>
          <div class="group-8">
            <span class="number-750">750</span>
            <div class="vector-9"></div>
          </div>
          <div class="group-a">
            <span class="number-500">500</span>
            <div class="vector-b"></div>
          </div>
          <div class="group-c">
            <span class="number-250">250</span>
            <div class="vector-d"></div>
          </div>
          <div class="group-e">
            <span class="number-0">0</span>
            <div class="vector-f"></div>
          </div>
        </div>
      </div>
      <div class="flex-column-cf">
        <div class="group-10">
          <div class="vector-11"></div>
          <div class="group-12">
            <div class="group-13">
              <div class="vector-14"></div>
              <span class="day-sunday">Sunday</span>
            </div>
            <div class="group-15">
              <div class="vector-16"></div>
              <span class="day-monday">Monday</span>
            </div>
            <div class="group-17">
              <div class="vector-18"></div>
              <span class="span-tuesday">Tuesday</span>
            </div>
            <div class="group-19">
              <div class="vector-1a"></div>
              <span class="span-wednesday">Wednesday</span>
            </div>
            <div class="group-1b">
              <div class="vector-1c"></div>
              <span class="span-thursday">Thursday</span>
            </div>
            <div class="group-1d">
              <div class="vector-1e"></div>
              <span class="span-friday">Friday</span>
            </div>
            <div class="group-1f">
              <div class="vector-20"></div>
              <span class="span-saturday">Saturday</span>
            </div>
            <div class="group-21">
              <div class="vector-22"></div>
              <span class="span-sunday">Sunday</span>
            </div>
          </div>
        </div>
        <div class="group-23">
          <div class="group-24">
            <div class="vector-25"></div>
            <div class="vector-26"></div>
            <div class="vector-27"></div>
            <div class="vector-28"></div>
            <div class="vector-29"></div>
          </div>
          <div class="group-2a">
            <div class="vector-2b"></div>
            <div class="vector-2c"></div>
            <div class="vector-2d"></div>
            <div class="vector-2e"></div>
            <div class="vector-2f"></div>
            <div class="vector-30"></div>
            <div class="vector-31"></div>
            <div class="vector-32"></div>
            <div class="vector-33"></div>
            <div class="vector-34"></div>
          </div>
        </div>
        <div class="group-35">
          <div class="group-36">
            <div class="group-37"></div>
            <div class="group-38"></div>
            <div class="group-39"></div>
            <div class="group-3a"></div>
            <div class="group-3b"></div>
            <div class="group-3c"></div>
            <div class="group-3d"></div>
            <div class="group-3e"></div>
          </div>
        </div>
        <div class="group-3f">
          <div class="group-40">
            <div class="group-41"></div>
            <div class="group-42"></div>
            <div class="group-43"></div>
            <div class="group-44"></div>
            <div class="group-45"></div>
            <div class="group-46"></div>
            <div class="group-47"></div>
            <div class="group-48"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="background-49">
      <span class="add-new-service"> + Add New Service</span>
    </div>
    <div class="rectangle-4a">
      <span class="visitors-insights">Visitors Insights</span>
      <div class="visitors">
        <div class="group-4b">
          <div class="vector-4c"></div>
          <div class="group-4d">
            <div class="group-4e">
              <span class="number-8000">8000</span>
              <div class="vector-4f"></div>
            </div>
            <div class="group-50">
              <span class="number-6000">6000</span>
              <div class="vector-51"></div>
            </div>
            <div class="group-52">
              <span class="number-4000">4000</span>
              <div class="vector-53"></div>
            </div>
            <div class="group-54">
              <span class="number-2000">2000</span>
              <div class="vector-55"></div>
            </div>
            <div class="group-56">
              <span class="number-0-57">0</span>
              <div class="vector-58"></div>
            </div>
          </div>
        </div>
        <div class="flex-column">
          <div class="group-59">
            <div class="vector-5a"></div>
            <div class="group-5b">
              <div class="group-5c">
                <div class="vector-5d"></div>
                <span class="number-0-5e">0</span>
              </div>
              <div class="group-5f">
                <div class="vector-60"></div>
                <span class="jan">Jan</span>
              </div>
              <div class="group-61">
                <div class="vector-62"></div>
                <span class="feb">Feb</span>
              </div>
              <div class="group-63">
                <div class="vector-64"></div>
                <span class="march">March</span>
              </div>
              <div class="group-65">
                <div class="vector-66"></div>
                <span class="april">April</span>
              </div>
              <div class="group-67">
                <div class="vector-68"></div>
                <span class="may">May</span>
              </div>
              <div class="group-69">
                <div class="vector-6a"></div>
                <span class="june">June</span>
              </div>
              <div class="group-6b">
                <div class="vector-6c"></div>
                <span class="july">July</span>
              </div>
              <div class="group-6d">
                <div class="vector-6e"></div>
                <span class="aug">Aug</span>
              </div>
              <div class="group-6f">
                <div class="vector-70"></div>
                <span class="sep">Sep</span>
              </div>
              <div class="group-71">
                <div class="vector-72"></div>
                <span class="oct">Oct</span>
              </div>
              <div class="group-73">
                <div class="vector-74"></div>
                <span class="nov">Nov</span>
              </div>
              <div class="group-75">
                <div class="vector-76"></div>
                <span class="dec">Dec</span>
              </div>
            </div>
          </div>
          <div class="group-77">
            <div class="vector-78"></div>
          </div>
          <div class="group-79">
            <div class="vector-7a"></div>
          </div>
          <div class="group-7b">
            <div class="vector-7c"></div>
          </div>
          <div class="group-7d">
            <div class="vector-7e"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="rectangle-7f">
      <span class="total-revenue">Total Revenue</span>
      <div class="sales">
        <div class="group-80">
          <div class="vector-81"></div>
          <div class="group-82">
            <div class="group-83">
              <span class="number-1000-84">1000</span>
              <div class="vector-85"></div>
            </div>
            <div class="group-86">
              <span class="number-750-87">750</span>
              <div class="vector-88"></div>
            </div>
            <div class="group-89">
              <span class="number-500-8a">500</span>
              <div class="vector-8b"></div>
            </div>
            <div class="group-8c">
              <span class="number-250-8d">250</span>
              <div class="vector-8e"></div>
            </div>
            <div class="group-8f">
              <span class="number-0-90">0</span>
              <div class="vector-91"></div>
            </div>
          </div>
        </div>
        <div class="flex-column-fcf">
          <div class="group-92">
            <div class="vector-93"></div>
            <div class="group-94">
              <div class="group-95">
                <div class="vector-96"></div>
                <span class="span-monday">Monday</span>
              </div>
              <div class="group-97">
                <div class="vector-98"></div>
                <span class="span-tuesday-99">Tuesday</span>
              </div>
              <div class="group-9a">
                <div class="vector-9b"></div>
                <span class="span-wednesday-9c">Wednesday</span>
              </div>
              <div class="group-9d">
                <div class="vector-9e"></div>
                <span class="span-thursday-9f">Thursday</span>
              </div>
              <div class="group-a0">
                <div class="vector-a1"></div>
                <span class="span-friday-a2">Frday</span>
              </div>
              <div class="group-a3">
                <div class="vector-a4"></div>
                <span class="span-saturday-a5">Saturday</span>
              </div>
              <div class="group-a6">
                <div class="vector-a7"></div>
                <span class="span-sunday-a8">Sunday</span>
              </div>
            </div>
          </div>
          <div class="group-a9">
            <div class="group-aa">
              <div class="vector-ab"></div>
              <div class="vector-ac"></div>
              <div class="vector-ad"></div>
              <div class="vector-ae"></div>
              <div class="vector-af"></div>
            </div>
            <div class="group-b0">
              <div class="vector-b1"></div>
              <div class="vector-b2"></div>
              <div class="vector-b3"></div>
              <div class="vector-b4"></div>
              <div class="vector-b5"></div>
              <div class="vector-b6"></div>
              <div class="vector-b7"></div>
              <div class="vector-b8"></div>
              <div class="vector-b9"></div>
            </div>
          </div>
          <div class="group-ba">
            <div class="group-bb">
              <div class="flex-row-a">
                <div class="group-bc"></div>
                <div class="regroup">
                  <div class="group-bd"></div>
                  <div class="group-be"></div>
                  <div class="group-bf"></div>
                  <div class="group-c0"></div>
                </div>
                <div class="group-c1"></div>
              </div>
              <div class="group-c2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>