<div class="container">
    <h2 class="text-center">UserSocialMedia Form</h2>
    <form>
        <div class="row">
            
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Instagram">Instagram:</label>
                    <input type="text"[(ngModel)]="userSocialMedia.Instagram" class="form-control" name="Instagram" placeholder="Enter Instagram" required>
                </div>

                <div class="form-group">
                    <label for="Facebook">Facebook:</label>
                    <input type="text"[(ngModel)]="userSocialMedia.Facebook" class="form-control" name="Facebook" placeholder="Enter Facebook" required>
                </div>

                <div class="form-group">
                    <label for="Twitter">Twitter:</label>
                    <input type="text"[(ngModel)]="userSocialMedia.Twitter" class="form-control" name="Twitter" placeholder="Enter Twitter" required>
                </div>

                <div class="form-group">
                    <label for="LinkedIn">LinkedIn:</label>
                    <input type="text"[(ngModel)]="userSocialMedia.LinkedIn" class="form-control" name="LinkedIn" placeholder="Enter LinkedIn" required>
                </div>

                <div class="form-group">
                    <label for="YouTube">YouTube:</label>
                    <input type="text"[(ngModel)]="userSocialMedia.YouTube" class="form-control" name="YouTube" placeholder="Enter YouTube" required>
                </div>
            </div>
          
           
        </div>

        
     
       
        

        

        <button  type="submit" (click)="OnSubmit()"class="btn btn-primary">Submit</button>
    </form>
</div>



