<div class="row marginlittle">
    <div class="col-md-12 topform">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">DestinationGallery</h4>
                <p class="card-category">Add New DestinationGallery Here</p>
            </div>
            <div class="card-body">
                <form #blogForm="ngForm">
                  <div class="row">
                    <div class="col-md-12">
                      <label for="Title">Title:</label>
                      <input type="text"[(ngModel)]="destinationGallery.Title" class="form-control" name="Title" placeholder="Enter Title" required>
                      
                  </div>
                  <div class="col-md-12">
                   
                    <label for="SubTitle">SubTitle:</label>
                    <input type="text"[(ngModel)]="destinationGallery.SubTitle" class="form-control" name="SubTitle" placeholder="Enter SubTitle" required>
                    
                  </div>
            <div class="col-md-6">
       
              <label for="avatar">Upload Image: </label>
              <input type="file" id="avatar"  name="Photo"  [(ngModel)]="destinationGallery.Photo"  (change)="fileChangeEvent($event)" #PhotoControl="ngModel"accept="image/png, image/jpeg" required>
             
             </div>
            
            
               
                
                  </div>
                  
                  
                
                    <button mat-raised-button type="submit" [disabled]="blogForm.invalid"class="btn btn-danger pull-right"(click)="OnSubmit()">update</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
  </div>
  


