<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Trip List</h4>
                        <p class="card-category"> View Here All Trip Table Record</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary" style="background-color: #ea48441c;">
                                    <th>TripId </th>
                                    <th>UserId </th>
                                    <th>VendorId </th>
                                    <th>TripTypeId </th>
                                    <th>DestinationId </th>
                                    <th>Source </th>
                                    <th>Date </th>
                                    <th>Status </th>
                                    <th>Budget </th>
                                    <th>Action </th>
                                    
                                    
                                        
                                   
                              
                                </thead>
                                <tbody>
                                    <tr *ngFor="let i of TripList">
                                        <td>{{i.TripId}}</td>
                                        <td>{{i.UserId}}</td>
                                        <td>{{i.VendorId}}</td>
                                        <td>{{i.TripTypeId}}</td>
                                        <td>{{i.DestinationId}}</td>
                                        <td>{{i.Source}}</td>
                                        <td>{{i.Date}}</td>
                                        <td>{{i.Status}}</td>
                                        <td>{{i.Budget}}</td>
                                        
                                        
                                        
                                        <!-- <td>{{i.Sectiontwo}}</td> -->
                                        <!-- <td> <img src="{{i.Photo}}" style="height: 80px;width: 80px;"></td>  -->
                                      <td><i class="fa fa-pencil-square iconaction"(click)="Edit(i.TripId)"  aria-hidden="true"></i>
                                             <i class="fa fa-eye iconaction" (click)="View(i.TripIdId)" aria-hidden="true"></i>
                                              <i class="fa fa-trash iconaction"(click)="Delete(i.TripIdId)" aria-hidden="true"></i>
                                        </td> 
                                    </tr>    
                                                           
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
   
        </div>
    </div>
  </div>



