<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">UserDetails List</h4>
                        <p class="card-category"> View Here All UserDetails Table Record</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary" style="background-color: #ea48441c;">
                                    <th>UserDetailsId </th>
                                    <th>CountryId </th>
                                    <th>StateId </th>
                                    <th>CityId </th>
                                    <th>Contact </th>
                                    <th>Tagline</th>
                                    <th>Photo</th>
                                    <th>BirthDate </th>
                                    <th>Status </th>
                                    <th>Gender </th>
                                    <th>Address </th>
                                    
                                    
                                        
                                   
                              
                                </thead>
                                <tbody>
                                    <tr *ngFor="let i of UserDetailsList">
                                        <td>{{i.UserDetailsId}}</td>
                                        <td>{{i.CountryId}}</td>
                                        <td>{{i.StateId}}</td>
                                        <td>{{i.CityId}}</td>
                                        <td>{{i.Contact}}</td>
                                        <td>{{i.Tagline}}</td>
                                        <td>{{i.Photo}}</td>
                                        <td>{{i.BirthDate}}</td>
                                        <td>{{i.Status}}</td>
                                        <td>{{i.Gender}}</td>
                                        <td>{{i.Address}}</td>
                                        
                                        
                                        <!-- <td>{{i.Sectiontwo}}</td> -->
                                        <td> <img src="{{i.Photo}}" style="height: 80px;width: 80px;"></td> 
                                      <td><i class="fa fa-pencil-square iconaction"(click)="Edit(i.Id)"  aria-hidden="true"></i>
                                             <i class="fa fa-eye iconaction" (click)="View(i.Id)" aria-hidden="true"></i>
                                              <i class="fa fa-trash iconaction"(click)="Delete(i.Id)" aria-hidden="true"></i>
                                        </td> 
                                    </tr>    
                                                           
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
   
        </div>
    </div>
  </div>


