<div class="container">
    <h2 class="text-center">Gallery Form</h2>
    <form>
        <div class="row">
            
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Title">Title:</label>
                    <input type="text"[(ngModel)]="gallery.Title" class="form-control" name="Title" placeholder="Enter Title" required>
                </div>
            </div>
            <div class="form-group">
                <label for="SubTitle">SubTitle:</label>
                <input type="text"[(ngModel)]="gallery.SubTitle" class="form-control" name="SubTitle" placeholder="Enter SubTitle" required>
            </div>
          
           
        </div>

        
     
       
        

        

        <button  type="submit" (click)="OnSubmit()"class="btn btn-primary">Submit</button>
    </form>
</div>




